@charset "UTF-8";
@import url(../css/normalize.css);
button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #e68a00;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #b86e00;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #e68a00; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: Helvetica;
  font-size: 1em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: #e68a00;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(204, 122, 0, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #ddd; }
  input[type="color"]::placeholder, input[type="date"]::placeholder, input[type="datetime"]::placeholder, input[type="datetime-local"]::placeholder, input[type="email"]::placeholder, input[type="month"]::placeholder, input[type="number"]::placeholder, input[type="password"]::placeholder, input[type="search"]::placeholder, input[type="tel"]::placeholder, input[type="text"]::placeholder, input[type="time"]::placeholder, input[type="url"]::placeholder, input[type="week"]::placeholder, input:not([type])::placeholder, textarea::placeholder,
  select[multiple]::placeholder {
    color: #999; }

textarea {
  resize: vertical; }

[type="search"] {
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  max-width: 100%;
  width: auto; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #43474d;
  font-family: "purista-web", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0.4px; }

h1,
h2,
h3,
form legend,
h4,
h5,
h6 {
  font-family: "purista-web", sans-serif;
  font-size: 1.333em;
  line-height: 1.2;
  margin: 0 0 0.75em;
  color: #555; }

h1 {
  font-size: 2.368593037em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 6px; }

h2 {
  font-size: 1.776889em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #e68a00;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #ffad33; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.row {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5em; }
  .row::after {
    clear: both;
    content: "";
    display: block; }

.og-row {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .og-row::after {
    clear: both;
    content: "";
    display: block; }

@media screen and (min-width: 900px) {
  h1 {
    font-size: 3.1573345183em;
    letter-spacing: 8px; } }

img {
  width: 100%; }

.background {
  background-size: cover; }

.content-box, form {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 100%;
  margin: 0em auto 3em;
  padding-bottom: 2em;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 1px 12em rgba(255, 255, 255, 0.2); }
  .content-box:last-child, form:last-child {
    margin-right: 0; }
  @media screen and (min-width: 600px) {
    .content-box, form {
      float: left;
      display: block;
      margin-right: 2.3576520234%;
      width: 82.9403913294%;
      margin-left: 8.5298043353%; }
      .content-box:last-child, form:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1400px) {
    .content-box, form {
      float: left;
      display: block;
      margin-right: 2.3576520234%;
      width: 74.4105869942%;
      margin-left: 12.7947065029%; }
      .content-box:last-child, form:last-child {
        margin-right: 0; } }

.epic-title {
  background: url("../img/background-translucent.png") repeat;
  /* Old browsers */
  background: url("../img/background-translucent.png"), -moz-radial-gradient(center, ellipse cover, #3c3f42 0%, #2a2c2d 100%);
  /* FF3.6-15 */
  background: url("../img/background-translucent.png"), -webkit-radial-gradient(center, ellipse cover, #3c3f42 0%, #2a2c2d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: url("../img/background-translucent.png"), radial-gradient(ellipse at center, #3c3f42 0%, #2a2c2d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3f42', endColorstr='#2a2c2d',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  padding: 2em 2em 0.25em; }
  .epic-title h1 {
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.3); }

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45494c+0,393b3d+100 */
  background: url("../img/background.png") repeat;
  /* Old browsers */
  background: url("../img/background.png"), -moz-linear-gradient(top, #45494c 0%, #393b3d 100%);
  /* FF3.6-15 */
  background: url("../img/background.png"), -webkit-linear-gradient(top, #45494c 0%, #393b3d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: url("../img/background.png"), linear-gradient(to bottom, #45494c 0%, #393b3d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45494c', endColorstr='#393b3d',GradientType=0 );
  /* IE6-9 */
  padding-bottom: 8em; }

header.navigation {
  min-height: 120px;
  width: 100%;
<<<<<<< HEAD
  z-index: 999; }
=======
  z-index: 999;
  padding: 1em 0; }
  header.navigation .logo-container {
    width: 90%;
    max-width: 446px;
    display: block;
    margin: 2em auto;
    text-align: center; }
    @media screen and (min-width: 900px) {
      header.navigation .logo-container {
        width: 100%; } }
  header.navigation a {
    text-decoration: none;
    font-family: Helvetica; }
>>>>>>> origin/master
  header.navigation .navigation-wrapper {
    position: relative;
    z-index: 9999;
    padding: 2em 0 1em; }
    header.navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: block; }
    @media screen and (min-width: 900px) {
      header.navigation .navigation-wrapper {
<<<<<<< HEAD
        padding: 2em 0; } }
  header.navigation .logo {
    max-height: 120px;
    width: 90%;
    display: block;
    margin: 0 auto; }
    @media screen and (min-width: 900px) {
      header.navigation .logo {
        float: left;
        width: auto;
        padding-left: 4em; } }
    header.navigation .logo img {
      max-height: 120px;
      max-width: 446px;
      padding: 0.8em 0;
      display: block;
      margin: 0 auto; }
  header.navigation .menu-button-container {
    width: 100%;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em; }
    @media screen and (min-width: 900px) {
      header.navigation .menu-button-container {
        margin: 0; } }
  header.navigation .navigation-menu-button {
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
    padding: 1em 1em;
    border-top: 1px solid #eeeeee;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.2); }
    @media screen and (min-width: 900px) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
      color: white; }
  header.navigation nav {
    float: none;
    z-index: 9999999; }
    @media screen and (min-width: 900px) {
      header.navigation nav {
        float: left; } }
  header.navigation ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    header.navigation ul.navigation-menu.show {
      display: block; }
    @media screen and (min-width: 900px) {
      header.navigation ul.navigation-menu {
        display: block;
        margin: 0;
        clear: none;
        float: right;
        padding: 0; } }
  header.navigation ul li.nav-link {
    display: block;
    line-height: 60px;
    overflow: hidden;
    z-index: 9999;
    text-align: center;
    margin-bottom: 0.5em; }
    header.navigation ul li.nav-link:last-of-type {
      margin-bottom: 0em; }
    @media screen and (min-width: 900px) {
      header.navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 120px;
        text-decoration: none;
        width: auto;
        margin-right: 1em; }
        header.navigation ul li.nav-link:last-of-type {
          margin-right: 0em; } }
    header.navigation ul li.nav-link a {
      color: rgba(255, 255, 255, 0.7);
      text-decoration: none;
      padding: 1em 1em;
      border: 1px solid #eeeeee;
      border-radius: 1337px;
      text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.2); }
      @media screen and (min-width: 900px) {
        header.navigation ul li.nav-link a {
          display: inline;
          margin-bottom: 0em; } }
      header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
        color: white;
        background-color: rgba(77, 77, 77, 0.6); }
  header.navigation .active-nav-item a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3px; }
  header.navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 900px) {
      header.navigation li.more.nav-link {
        padding-right: 1em; } }
    header.navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    header.navigation li.more.nav-link a {
      margin-right: 1em; }
    header.navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    header.navigation li.more.nav-link > a::after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      color: rgba(255, 255, 255, 0.7);
      content: "\25BE"; }
  header.navigation li.more {
    overflow: visible;
    padding-right: 0; }
    header.navigation li.more a {
      padding-right: 0.8em; }
    header.navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 900px) {
        header.navigation li.more > a {
          margin-right: 1em; } }
      header.navigation li.more > a::after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    header.navigation li.more:focus > .submenu, header.navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 900px) {
      header.navigation li.more {
        padding-right: 0.8em;
        position: relative; } }
  header.navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 900px) {
      header.navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 900px) {
      header.navigation ul.submenu .submenu.fly-out-right {
        left: 11.8em;
        top: 0; } }
    @media screen and (min-width: 900px) {
      header.navigation ul.submenu .submenu.fly-out-left {
        left: -11.8em;
        top: 0; } }
    @media screen and (min-width: 900px) {
      header.navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    header.navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 900px) {
        header.navigation ul.submenu li {
          line-height: 92.3076923077px; }
          header.navigation ul.submenu li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          header.navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: 0.7em; } }
      header.navigation ul.submenu li a {
        background-color: #2b2b2b;
        display: inline-block;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 900px) {
          header.navigation ul.submenu li a {
            background-color: #333;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }
  @media screen and (min-width: 900px) {
    header.navigation .rightify {
      margin-right: 4em;
      clear: none;
      float: right; } }
  header.navigation .search-bar {
    float: left;
    padding: 0.85em 0.85em 0.7em 0.6em;
    width: 60%; }
    header.navigation .search-bar form {
      position: relative; }
      header.navigation .search-bar form input[type=search] {
        background: #404040;
        border: 1px solid #262626;
        border-radius: 6px;
        box-sizing: border-box;
        color: rgba(255, 255, 255, 0.7);
        font-size: 0.9em;
        font-style: italic;
        margin: 0;
        padding: 0.5em 0.8em;
        width: 100%; }
        @media screen and (min-width: 900px) {
          header.navigation .search-bar form input[type=search] {
            width: 100%; } }
      header.navigation .search-bar form button[type=submit] {
        background: #404040;
        border: 0;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 9px;
        position: absolute;
        right: 0.3em;
        top: 0.3em; }
        header.navigation .search-bar form button[type=submit] img {
          height: 12px;
          opacity: 0.7;
          padding: 1px; }
    @media screen and (min-width: 900px) {
      header.navigation .search-bar {
        display: inline-block;
        position: relative;
        width: 16em; }
        header.navigation .search-bar input {
          box-sizing: border-box;
          display: block; } }

form label {
  margin-bottom: 0.25em;
  font-weight: 400; }
form legend {
  padding: 0em 1em;
  margin-left: 0em;
  margin-left: -1em;
  color: #FF9900;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9); }
  @media screen and (min-width: 900px) {
    form legend {
      text-align: left;
      margin-left: -1em; } }
form fieldset {
  margin: 1em 1em 2em; }
  @media screen and (min-width: 600px) {
    form fieldset {
      margin: 2em 2em; } }
  @media screen and (min-width: 900px) {
    form fieldset {
      margin: 3em 3em; } }
  form fieldset:last-of-type {
    margin-bottom: 1em; }
form .last-inputs {
  margin: 1em 1em 2em;
  padding: 1.5em 2em 0em; }
  @media screen and (min-width: 600px) {
    form .last-inputs {
      margin: 2em 2em 3em;
      padding: 1.5em 2em 0.5em; } }
  @media screen and (min-width: 900px) {
    form .last-inputs {
      margin: 3em 3em;
      padding: 2em 3em 1em; } }
form textarea {
  margin-bottom: 2em;
  min-height: 7em;
  font-family: "purista-web", sans-serif;
  font-size: 1.125em; }
  @media screen and (min-width: 900px) {
    form textarea {
      width: 75%; } }
  form textarea:hover {
    border: 1px solid #FF9900; }
  form textarea:focus {
    box-shadow: 0px 0px 5px 0px rgba(255, 153, 0, 0.66);
    color: #333; }
form p {
  margin-bottom: 1em; }
=======
        margin: 1em 2em 0 2em; } }

form {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 100%;
  margin: 0em auto 3em;
  padding-bottom: 2em;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 1px 12em rgba(255, 255, 255, 0.2); }
  form:last-child {
    margin-right: 0; }
  @media screen and (min-width: 600px) {
    form {
      float: left;
      display: block;
      margin-right: 2.3576520234%;
      width: 82.9403913294%;
      margin-left: 8.5298043353%; }
      form:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1400px) {
    form {
      float: left;
      display: block;
      margin-right: 2.3576520234%;
      width: 74.4105869942%;
      margin-left: 12.7947065029%; }
      form:last-child {
        margin-right: 0; } }
  form label {
    margin-bottom: 0.25em;
    font-weight: 400; }
  form legend {
    padding: 0em 1em;
    margin-left: 0em;
    margin-left: -1em;
    color: #FF9900;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9); }
    @media screen and (min-width: 900px) {
      form legend {
        text-align: left;
        margin-left: -1em; } }
  form fieldset {
    margin: 1em 1em 2em;
    padding: 1em;
    border: 2px solid #FF9900; }
    @media screen and (min-width: 600px) {
      form fieldset {
        margin: 2em 2em;
        padding: 1.5em 2em 2em; } }
    @media screen and (min-width: 900px) {
      form fieldset {
        margin: 3em 3em;
        padding: 2em 3em 3em; } }
    form fieldset:last-of-type {
      border: none;
      padding: 0em;
      margin-bottom: 1em; }
  form .last-inputs {
    margin: 1em 1em 2em;
    padding: 1.5em 2em 0em; }
    @media screen and (min-width: 600px) {
      form .last-inputs {
        margin: 2em 2em 3em;
        padding: 1.5em 2em 0.5em; } }
    @media screen and (min-width: 900px) {
      form .last-inputs {
        margin: 3em 3em;
        padding: 2em 3em 1em; } }
  form textarea {
    margin-bottom: 2em;
    min-height: 7em;
    font-family: "purista-web", sans-serif;
    font-size: 1.125em; }
    @media screen and (min-width: 900px) {
      form textarea {
        width: 75%; } }
    form textarea:hover {
      border: 1px solid #FF9900; }
    form textarea:focus {
      box-shadow: 0px 0px 5px 0px rgba(255, 153, 0, 0.66);
      color: #333; }
  form p {
    margin-bottom: 1em; }

.form-title {
  background: url("../img/background-translucent.png") repeat;
  /* Old browsers */
  background: url("../img/background-translucent.png"), -moz-radial-gradient(center, ellipse cover, #3c3f42 0%, #2a2c2d 100%);
  /* FF3.6-15 */
  background: url("../img/background-translucent.png"), -webkit-radial-gradient(center, ellipse cover, #3c3f42 0%, #2a2c2d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: url("../img/background-translucent.png"), radial-gradient(ellipse at center, #3c3f42 0%, #2a2c2d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3f42', endColorstr='#2a2c2d',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  padding: 2em 2em 0.5em; }
  .form-title h1 {
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.3); }
>>>>>>> origin/master

input[type="text"] {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 1em;
  box-sizing: border-box;
  font-family: "purista-web", sans-serif;
  font-weight: 700;
  -webkit-transition: 0.36s ease;
  -moz-transition: 0.36s ease;
  transition: 0.36s ease; }
  input[type="text"]:hover {
    border: 1px solid #FF9900; }
  input[type="text"]:focus {
    box-shadow: 0px 0px 5px 0px rgba(255, 153, 0, 0.66);
    color: #333; }
input[type="submit"] {
  margin: 0em auto;
  padding: 0.33em;
  width: 100%;
  border-radius: 2px;
  background-color: #eb8d00;
  color: #FFF;
  font-family: "purista-web", sans-serif;
  font-size: 1.5em;
  line-height: 2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0px 6px 66px 0px rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px 33px rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.36s;
  -moz-transition: all 0.36s;
  transition: all 0.36s; }
<<<<<<< HEAD
  @media screen and (min-width: 600px) {
    input[type="submit"] {
      float: left;
      display: block;
      margin-right: 2.3576520234%;
      width: 48.8211739883%;
      margin-left: 25.5894130058%; }
      input[type="submit"]:last-child {
        margin-right: 0; } }
=======
>>>>>>> origin/master
  input[type="submit"]:hover {
    color: #fff;
    background-color: #ffa114;
    text-shadow: 1px 1px 33px rgba(255, 255, 255, 0.5); }
<<<<<<< HEAD

.small-field {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 100%; }
  .small-field:last-child {
    margin-right: 0; }
  @media screen and (min-width: 600px) {
    .small-field {
      float: left;
      display: block;
      margin-right: 2.3576520234%;
      width: 48.8211739883%; }
      .small-field:last-child {
        margin-right: 0; }
      .small-field:nth-of-type(even) {
        margin-right: 0; } }
  @media screen and (min-width: 900px) {
    .small-field {
      float: left;
      display: block;
      margin-right: 2.3576520234%;
      width: 31.7615653177%; }
      .small-field:last-child {
        margin-right: 0; }
      .small-field:nth-of-type(even) {
        margin-right: 2.3576520234%; }
      .small-field:nth-of-type(3n) {
        margin-right: 0; } }
  .small-field.no-mr {
    margin-right: 0% !important; }
  .small-field.mr {
    margin-right: 2.3576520234% !important; }
  .small-field.gentrifier {
    margin-right: 33%; }

hr {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 100%; }
  hr:last-child {
    margin-right: 0; }

.content-wrapper {
  margin: 1em 1em 2em; }
  @media screen and (min-width: 600px) {
    .content-wrapper {
      margin: 2em 2em; } }
  @media screen and (min-width: 900px) {
    .content-wrapper {
      margin: 3em 3em; } }
  .content-wrapper:last-of-type {
    margin-bottom: 1em; }
=======
>>>>>>> origin/master

.account-info, .personal-info {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 100%; }
  .account-info:last-child, .personal-info:last-child {
    margin-right: 0; }
  @media screen and (min-width: 600px) {
    .account-info, .personal-info {
      float: left;
      display: block;
      margin-right: 2.3576520234%;
      width: 48.8211739883%; }
      .account-info:last-child, .personal-info:last-child {
        margin-right: 0; }
      .account-info:nth-of-type(even), .personal-info:nth-of-type(even) {
        margin-right: 0; } }

.button {
  border: 1px solid #bbb;
  border-radius: .3em;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  background: #f3f3f3;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  /* W3C */ }

.custom-select select {
  font-family: "purista-web", sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  border-radius: .2em; }

.custom-select::after {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid #666;
  margin-top: -3px; }

.custom-select {
  border: 1px solid #bbb;
  margin: 0 0 1em;
  -webkit-transition: 0.36s ease;
  -moz-transition: 0.36s ease;
  transition: 0.36s ease; }

/* Hover style */
.custom-select:hover {
  border-color: #FF9900; }

/* Focus style */
.custom-select select:focus {
  outline: none;
  box-shadow: 0px 0px 5px #ff9900;
  color: #222; }

/* Set options to normal weight */
.custom-select option {
  font-weight: normal; }

/* Container used for styling the custom select, the buttom class below adds the
 * bg gradient, corners, etc. */
.custom-select {
  position: relative;
  display: block;
  background: #FFF;
  border: 1px solid #EEE; }

/* This is the native select, we're making everything but the text invisible so
 * we can see the button styles in the wrapper */
.custom-select select {
  width: 100%;
  margin: 0;
  outline: none;
  padding: .4em .8em .35em .8em;
  /* Prefixed box-sizing rules necessary for older browsers */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Font size must be 16px to prevent iOS page zoom on focus */
  font-size: 16px; }

/* Custom arrow sits on top of the select - could be an image, SVG, icon font,
 * etc. or the arrow could just baked into the bg image on the select. */
.custom-select::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 1em;
  z-index: 2;
  /* These hacks make the select behind the arrow clickable in some browsers */
  pointer-events: none;
  display: none; }

@supports (-webkit-appearance: none) or (appearance: none) or ((-moz-appearance: none) and (mask-type: alpha)) {
  /* Show custom arrow */
  .custom-select::after {
    display: block; }

  /* Remove select styling */
  .custom-select select {
    padding-right: 2em;
    /* Match-01 */
    /* inside @supports so that iOS <= 8 display the native arrow */
    background: none;
    /* Match-04 */
    /* inside @supports so that Android <= 4.3 display the native arrow */
    border: 1px solid transparent;
    /* Match-05 */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }

  .custom-select select:focus {
    border-color: #aaa;
    /* Match-03 */ } }
