form {
  @include span-columns( 12 );
  margin: 0em auto 3em;
  padding-bottom: 2em;
  background: rgba(255,255,255,0.9);

  @include media ($medium-screen) {
    @include span-columns( 10 );
    @include shift( 1 );
  }

  @include media ($xlarge-screen) {
    @include span-columns( 9 );
    @include shift( 1.5 );
  }

  box-shadow: 0px 1px 12em rgba(255,255,255,0.2);


  label {
    margin-bottom: 0.25em;
    font-weight: 400;
  }

  legend {
    @extend h3;
    padding: 0em 1em;
    margin-left: 0em;
    margin-left: -1em;
    color: $orange;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(255,255,255,0.9);

    @include media ($large-screen) {
      text-align: left;
      margin-left: -1em;
    }
  }

  fieldset {
    margin: 1em 1em 2em;
    padding: 1em;
    border: 2px solid $orange;

    @include media ($medium-screen) {
      margin: 2em 2em;
      padding: 1.5em 2em 2em;
    }

    @include media ($large-screen) {
      margin: 3em 3em;
      padding: 2em 3em 3em;
    }

    &:last-of-type {
      border: none;
      padding: 0em;
      margin-bottom: 1em;
    }
  }

  .last-inputs {
    margin: 1em 1em 2em;
    padding: 1.5em 2em 0em;

    @include media ($medium-screen) {
      margin: 2em 2em 3em;
      padding: 1.5em 2em 0.5em;
    }

    @include media ($large-screen) {
      margin: 3em 3em;
      padding: 2em 3em 1em;
    }
  }

  textarea {
    margin-bottom: 2em;
    min-height: 7em;
    font-family: $font-family;
    font-size: 1.125em;

    @include media ($large-screen) {
      width: 75%;
    }

    &:hover {
      border: 1px solid $orange;
    }

    &:focus {
      box-shadow: 0px 0px 5px 0px rgba($orange, 0.66);
      color: $dark-gray;
    }
  }

  p {
    margin-bottom: 1em;
  }
}

.form-title {
  background: url('../img/background-translucent.png') repeat; /* Old browsers */
  background: url('../img/background-translucent.png'),-moz-radial-gradient(center, ellipse cover, #3c3f42 0%, #2a2c2d 100%); /* FF3.6-15 */
  background: url('../img/background-translucent.png'),-webkit-radial-gradient(center, ellipse cover, #3c3f42 0%,#2a2c2d 100%); /* Chrome10-25,Safari5.1-6 */
  background: url('../img/background-translucent.png'),radial-gradient(ellipse at center, #3c3f42 0%,#2a2c2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3f42', endColorstr='#2a2c2d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  padding: 2em 2em 0.5em;

  & h1 {
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 8px rgba(255,255,255,0.3)
  }

}

input {

  &[type="text"] {
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid darken($white, 15%);
    margin: 0 0 1em;
    box-sizing: border-box;
    font-family: $font-family;
    font-weight: 700;
    @include transition(.36s ease);

    &:hover {
      border: 1px solid $orange;
    }

    &:focus {
      box-shadow: 0px 0px 5px 0px rgba($orange, 0.66);
      color: $dark-gray;
    }
  }

  &[type="submit"] {
    margin: 0em auto;
    padding: 0.33em;
    width: 100%;
    border-radius: 2px;
    background-color: darken($orange, 4%);
    color: #FFF;
    font-family: $font-family;
    font-size: 1.5em;
    line-height: 2em;
    font-weight: 700;
    text-transform :uppercase;
    letter-spacing: 2px;
    box-shadow: 0px 6px 66px 0px rgba(255,255,255,0.8);
    text-shadow: 1px 1px 33px rgba(255,255,255,0.2);

    @include transition( all 0.36s );


    &:hover {
      color: $white;
      background-color: lighten($orange, 4%);
      text-shadow: 1px 1px 33px rgba(255,255,255,0.5);
    }
  }

}

.half-field {
  @include span-columns( 12 );

  @include media ($medium-screen) {
    @include span-columns( 6 );

    &:nth-of-type(even) {
      @include omega;
    }
  }
}

.button {
	border: 1px solid #bbb;
	border-radius: .3em;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	background: #f3f3f3; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
}

.custom-select select {
	font-family: $font-family;
	font-weight: 700;
	color: #444;
	line-height:1.3;
	border-radius: .2em;
}
.custom-select::after {
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 7px solid #666;
	margin-top: -3px;
}
.custom-select {
	border: 1px solid #bbb;
  margin: 0 0 1em;
  @include transition(.36s ease);
}
/* Hover style */
.custom-select:hover {
	border-color: $orange;
}
/* Focus style */
.custom-select select:focus {
	outline: none;
	box-shadow: 0px 0px 5px rgba($orange, 1);
	color: #222;
}

/* Set options to normal weight */
.custom-select option {
	font-weight:normal;
}

/* Container used for styling the custom select, the buttom class below adds the
 * bg gradient, corners, etc. */
.custom-select {
	position: relative;
	display: block;
  background: #FFF;
  border: 1px solid #EEE;
}

/* This is the native select, we're making everything but the text invisible so
 * we can see the button styles in the wrapper */
.custom-select select {
	width: 100%;
	margin: 0;
	outline: none;
	padding: .4em .8em .35em .8em;

	/* Prefixed box-sizing rules necessary for older browsers */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	/* Font size must be 16px to prevent iOS page zoom on focus */
	font-size: 16px;
}


/* Custom arrow sits on top of the select - could be an image, SVG, icon font,
 * etc. or the arrow could just baked into the bg image on the select. */
.custom-select::after {
	content: " ";
	position: absolute;
	top: 50%;
	right: 1em;
	z-index: 2;
	/* These hacks make the select behind the arrow clickable in some browsers */
	pointer-events: none;
	display: none;
}

@supports ( -webkit-appearance: none ) or ( appearance: none )
	/* Firefox <= 34 has a false positive on @supports( -moz-appearance: none )
	 * @supports ( mask-type: alpha ) is Firefox 35+
	 */
	or ( ( -moz-appearance: none ) and ( mask-type: alpha ) ) {

	/* Show custom arrow */
	.custom-select::after {
		display: block;
	}

	/* Remove select styling */
	.custom-select select {
		padding-right: 2em; /* Match-01 */
		/* inside @supports so that iOS <= 8 display the native arrow */
		background: none; /* Match-04 */
		/* inside @supports so that Android <= 4.3 display the native arrow */
		border: 1px solid transparent; /* Match-05 */

		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	.custom-select select:focus {
		border-color: #aaa; /* Match-03 */
	}
}
